# yazi.toml
[mgr]
show_hidden = false

[opener]
edit = [
	{ run = '${EDITOR:=nvim} "$@"', desc = "nvim", block = true, for = "unix" },
	{ run = 'code "$@"', desc = "VS Code", orphan = true, block = false, for = "unix" },
	{ run = 'vim "$@"', desc = "vim", block = true, for = "unix" },
	{ run = 'code %*', orphan = true, desc = "code", for = "windows" },
    	{ run = 'code -w %*', block = true, desc = "code (block)", for = "windows" }
]
# xdg-open config is ~/.config/mimeapps.list or can be accessed via xdg-mime command
open = [
	{ run = 'xdg-open "$1"', orphan =  true, desc = "XDG Open", for = "linux" },
	{ run = 'google-chrome-stable --new-tab "$@"', desc = "Google Chrome", orphan = true, block = false, for = "linux" },
  #{ run = 'xournalpp "$1"', desc = "Xournal++", orphan = true, block = false, for = "linux" },
  #{ run = 'sioyek "$1" --new-window', desc = "Sioyek", orphan = true, block = false, for = "linux" },
  #{ run = 'qimgv "$1"', orphan =  true, desc = "QIMGV", block = false, for = "linux" },
  #{ run = 'hyprctl hyprpaper wallpaper DP-3, "$1"', orphan = true, desc = "Set as Wallpaper", for = "linux"},
    	{ run = 'open "$@"', desc = "Open", for = "macos" },
    	{ run = 'start "" "%1"', orphan = true, desc = "Open", for = "windows" }
]
play = [
	{ run = 'vlc "$@"', orphan = true, for = "unix"},
	{ run = 'mpv "$@"', orphan = true, for = "unix"},
]
#rules = [
#{ mime = "image/*", use = [ "image-opener", "set-wallpaper"] },
#{ mime = "application/pdf", use = [ "pdf-viewer", "pdf-import" ] },
#]
#########################
# Configuring the Image opener
[[open.prepend_rules]]
mime = "image/*"
use  = [ "image-opener", "set-wallpaper" ]

[[opener.image-opener]]
run = 'qimgv "$1"'
orphan = true
block = false
for  = "linux"
desc = "QIMGV"

[[opener.set-wallpaper]]
run = 'hyprctl hyprpaper wallpaper DP-3, "$1"'
for  = "linux"
desc = "Set as wallpaper"
#########################

#########################
# Configuring pdf applicatio opener settings 
[[open.prepend_rules]]
mime = "application/pdf"
use  = [ "pdf-viewer", "pdf-import" ]

[[opener.pdf-viewer]]
run = 'sioyek "$1" --new-window' 
desc = "Sioyek"
orphan = true
block = false
for = "linux"

#[[opener.pdf-viewer]]
#run = 'google-chrome-stable --new-tab "$@"'
#desc = "Google Chrome"
#orphan = true
#block = false
#for = "linux"

[[opener.pdf-import]]
run = 'xournalpp "$1"'
desc = "Xournal++"
orphan = true
block = false
for = "linux"

#########################
# Other opener Configurations and plugins

# Adds bulk-renaming support (opens a text file and renames files in bulk)
[[opener.bulk-rename]]
run   = 'nvim "$@"'
block = true

[[open.prepend_rules]]
name = "bulk-rename.txt"
use  = "bulk-rename"
#########################

#########################
# Preview Configurations (rn it's the timing)
[preview]
image_delay = 100
#########################

[[mgr.prepend_keymap]]
on   = "!"
run  = 'shell "$SHELL" --block'
desc = "Open shell here"
